:root {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Noto Sans Mono", monospace;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  background-color: $color-secondary;
}

p,
ul {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  list-style: none;
}
