/*
  Hoja de reset basada en:
    <https://beta.adalab.es/resources/stylesheets/reset.css>
    <https://meyerweb.com/eric/tools/css/reset/>

  NOTA: Ningún árbol ha sido talado en la elaboración
        de esta hoja de estilos 🌳
*/
:root {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

p,
ul {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
