.section-fav {
  margin: 30px;
}
.js-shows {
  text-decoration: none;
}

.container-delete {
  background-color: $color-primary;
  text-align: center;
  border-radius: 5px;
}
.text {
  font-family: $font-main;
  font-weight: bold;
  color: black;
}
.fav {
  margin: 10px;
}
h2 {
  font-size: 20px;
}
