.fav {
  display: flex;
  align-items: center;
  align-content: center;
}
.imagenFav {
  height: 30px;
}
.favoritelist {
  align-items: center;
  background-color: yellowgreen;
}
.title3 {
  font-size: 18px;
}
.fav-tittle2 {
  font-size: 14px;
}
.js-shows {
  text-decoration: none;
}

.container-delete {
  background-color: $color-primary;
  text-align: center;
  border-radius: 5px;
}
.text {
  font-family: $font-main;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.fav {
  margin: 10px;
}
