.container-fav {
  margin: 10px;
}
.section-fav {
  border: solid 2px darkgray;
  background-color: black;
}
.title3 {
  font-size: 18px;
  text-align: center;
}
.favoritelist {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 3px;
}
.fav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imagenFav {
  height: 30px;
}
.fav-tittle2 {
  font-size: 14px;
  margin: 0 5px 0 5px;
  @include tablet {
    font-size: 20px;
  }
}
