.header {
  text-align: center;
  margin: 30px 0 30px 0;
  @include tablet {
    margin: 40px 0 40px 0;
  }
  @include desktop {
  }
}
.tittle {
  font-size: 24px;

  @include tablet {
    font-size: 50px;
    text-align: center;
  }
}
