.shownotfound {
  margin: 20px;

  line-height: 30px;
  @include tablet {
    margin: 40px;
  }
  @include desktop {
    margin: 60px;
  }
}

.fa-frown {
  display: block;
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
  color: lightseagreen;
  @include tablet {
    font-size: 50px;
  }
  @include desktop {
    font-size: 70px;
  }
}
