.showlist {
  margin: 40px;
}
.favorite {
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgb(198, 255, 85);
}
.show {
  display: flex;
  flex-direction: column;
  position: relative;
}
.fa-thumbs-up {
  position: relative;
  z-index: 20;
  margin: 5px;
}
.imagen {
  width: 110px;
  position: absolute;
}
.tittle2 {
  font-size: 14px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-top: 99px;
}
