.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-input {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.button {
  margin-left: 30px;
  font-family: $font-main;
  font-weight: bold;
  background-color: #f1ecc3;
  border-radius: 5px;
  border-color: grey;
  padding: 5px;
}

.section-fav {
  display: flex;
  flex: row;
  justify-items: center;
  justify-content: space-around;
}
.show {
  padding: 10px;
}
.fav {
  padding: 10px;
}
.showlist {
  text-align: center;
}
.favoritelist {
  text-align: center;
}
