.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  &--containerinput {
    display: flex;
    flex-direction: row;
    font-family: $font-main;
  }
  &--form {
    padding: 5px;
    font-size: 14px;
    @include tablet {
      width: 40vh;
      padding: 10px;
      font-size: 20px;
    }
  }
  &--button {
    margin-left: 30px;
    font-family: $font-main;
    color: white;
    font-weight: bold;
    background-color: $color-primary;
    border-radius: 5px;
    border-color: grey;
    padding: 5px;
    background-color: lightseagreen;

    @include tablet {
      padding: 5px;
      font-size: 20px;
    }
  }
}
