.favorite {
  background-color: red;
}
.container-input {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.button {
  margin-left: 30px;
}
.search-result {
  display: flex;
  flex: row;
}
